@inject NavigationManager navigationManager
@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="@surveyText" />


@code
{
    string surveyText = "How is Blazor working for you?";
    
    protected override async Task OnInitializedAsync()
    {
        var hubConnection = new HubConnectionBuilder()
            .WithUrl(navigationManager.ToAbsoluteUri("/broadcastHub"))
            .Build();

        hubConnection.On("Notify", () =>
        {
            surveyText = "You've been notified !!!";
            StateHasChanged();
        });


        await hubConnection.StartAsync();


    }

}